.skills {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  gap: 40px;
  align-items: center;
  flex-grow: 1;
  height: 100vh;
  z-index: 2;
  color: #fff; 
}


.skills-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

.skills-item {
  margin-top: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;
  width: 45%; 
}


.skills-item h3 {
  color: cyan;
  margin-bottom: 10px;  
  font-size: 32px;
    font-weight: 700;
}

.logos {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.logo-item {
  text-align: center;
}

.logo-item i {
  font-size: 60px; 
  color: #fff;
  transition: color 0.3s ease;
}

.logo-item i:hover {
  color: #00FFFF; 
}

.logo-item p {
  margin-top: 10px;
  font-size: 20px;
    color: white;
}


.language-progress {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 40px;
  flex-wrap: wrap; 
  width: 100%; 
  margin-top: 20px;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center; 
  width: 120px; 
}


.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: conic-gradient(#666666	 0% 0%, white 0% 100%); 
  border: 3px solid #fff; 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  transition: background 0.3s ease;
}

.language p {
  margin-top: 10px;
  font-size: 20px;
    color: white;
}
.skills-item:hover {
  transform: translateY(-10px);
}
